<configuration>
    <!-- 控制台输出 appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 文件输出 appender -->
    <timestamp key="LOG_TIMESTAMP" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="ch.qos.logback.classic.sift.MDCBasedDiscriminator">
            <Key>threadName</Key>
            <DefaultValue>unknown</DefaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${threadName}" class="ch.qos.logback.core.FileAppender">
                <file>logs/application-${threadName}-${LOG_TIMESTAMP}.log</file>
                <encoder>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!-- 根 logger 配置 -->
    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SIFT" />
    </root>
</configuration>
    